.button {
  @apply inline-flex text-xs py-2 px-4 rounded-lg items-center;
}

.button.blue {
  @apply text-white bg-blue-600 hover:bg-blue-700;
}

.button.gray {
  @apply text-gray-500 bg-gray-200 hover:bg-gray-300;
}

.button.red {
  @apply text-white bg-red-700 hover:bg-red-800;
}

.button.white {
  @apply text-gray-500 bg-transparent outline outline-gray-300 hover:bg-gray-300;
}

.button.transparent {
  @apply border-solid border border-gray-200 text-gray-500 hover:bg-white hover:shadow-sm hover:border-gray-300;
}
